html body {
    margin: 0;
    padding: 0;
    background-color: rgb(244, 244, 244);
}


.promotion img{
    width: 100%;
}

.nav {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 55px;
    box-shadow: 0 0 3px rgba(60, 5, 237, 0.2);
    background-color: #ffffff;
    display: flex;
    overflow-x: auto;
    
    
}

.nav__link {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    min-width: 50px;
    overflow: hidden;
    white-space: nowrap;
    font-family: "Kanit", sans-serif;
    font-size: 13px;
    color: black;
    text-decoration: none;
    -webkit-tap-highlight-color: transparent;
    transition: background-color 0.1s ease-in-out;
    color: rgb(192, 190, 190);
}


/* CSS สำหรับไอคอนที่มีคลาส "active" */
.nav__link.active {
    background-color: white;
    border-radius: 0; /* เพิ่มรูปร่างวงกลมให้กับกรอบ */
    color: black;
}

.active__link{
    color: black;
}

.nav__link.visited {
    color: black;
}

.nav__icon {
    font-size: 18px;
}

.nav-text {
    font-family: "Kanit", sans-serif;
}


.empty{
    background-color: #adf1ad; /* สีเขียวเมื่อ status เป็น empty */
    color: #006400;
}

.full {
    background-color: #f6a495; /* สีแดงเมื่อ status เป็น full */
    color: white;
}

.status {
    display: flex;
    justify-content: space-between; /* จัดวางทางขวาและซ้ายของ .status */
    align-items: center; /* จัดวางให้อยู่ตรงกลางตามแนวดิ่ง */
    border-bottom:1px solid rgb(1, 1, 97) ;
    background-color: #fff;
    padding-top: 15px;
    padding-bottom: 5px;
    padding-left: 13px;
}
  
.status-right p {
    font-size: 14px;
    padding-right: 10px;
    font-weight: 100px;
    font-family: "Kanit", sans-serif;
    margin-right: 6px;
    margin-bottom: 0;
}

.status h2{
    text-align: center;
    font-size: 27px;
    font-family: "Kanit", sans-serif;
    font-weight: 100px;
    font-style: normal;
    border-radius: 0px 0px 0px 0px;
    color: rgb(1, 1, 97);
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(144px, 1fr));
    padding: 0px 10px 10px 10px;
    gap: 1rem;
    height: auto;
    width: auto;
    background-color: white;
    margin-top: 10px;
}

.grid-item {
    border-radius: 20px;
    text-align: center;
    box-shadow: 0px 2px 5px 0px rgb(199, 199, 199);
    padding-top: 5px;
    padding-left: 15px;
    padding-right: 15px;
}

.status-p {
    font-size: 28px;
    font-family: "Kanit", sans-serif;
}

.zone-p , .time-p{
    font-size: 13px;
    font-family: "Kanit", sans-serif;
    color: black;
}

.detail{
    margin-top: 10px;
}

.detail h3{
    font-size: 14px;
    font-family: "Kanit", sans-serif;
    margin-left: 10px;
}

.detail li{
    font-size: 10px;
    font-family: "Kanit", sans-serif;
    margin-left: 10px;
}

/* Media queries for responsive design */
@media screen and (max-width: 768px) {
    .grid-container {
        grid-template-columns: repeat(auto-fill, minmax(100px, 1fr)); /* 3 ช่องพอดีสำหรับหน้าจอเล็ก */
    }
}

